<footer>
    <div class="socials">
        <h3>Connect Us With Socials</h3>
        <div class="icons">
            <a href="https://www.facebook.com/dachi.loseurashvili" target="_blank" style="color: black;"><i class="pi pi-facebook" style="font-size: 2rem; color: white;"></i></a>
            <a href="https://www.instagram.com/ruadzenini/" target="_blank" style="color: black;"><i class="pi pi-instagram" style="font-size: 2rem; color: white;"></i></a>
            <a href="https://github.com/guka19" target="_blank" style="color: black;"><i class="pi pi-github" style="font-size: 2rem; color: white;"></i></a>
        </div>
    </div>
    <div class="links">
        <div class="quick-pick">
            <h1>Dripify</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic doloremque, aspernatur numquam incidunt dignissimos voluptate temporibus qui ipsam nihil laudantium asperiores perferendis vero voluptates sit beatae explicabo eveniet architecto nam.
            </p>
            <h6>All Rights Reserved</h6>
        </div>
        <div class="useful-links">
            <h3>Useful Links</h3>
            <div class="useful-links-list">
                <a routerLink="/home">
                    Dripify
                </a>
                <a routerLink="/collection">
                    Check Our Collection
                </a>
                <a routerLink="/offers">
                    Check Special Offers
                </a>
                <a routerLink="/about">
                    About Dripify
                </a>
            </div>
        </div>
    </div>
</footer>